
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.build
*.dist

# Environments
*.swp
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.idea/**
.DS_Store

# local files
local*
local/**
error*
ERROR*
*token*
*.egg-info
