[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-telegram-bot = "*"
e1839a8 = {editable = true,path = "."}
server-telegram-bot = {path = "."}
PyYAML = "*"

[requires]
python_version = "3.7"
